@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron text-center">
    <h1 class="display-4">Jordan Swan's ePortfolio</h1>
    <p>Welcome to my ePortfolio! This ePortfolio will always be a work-in-progress since I am always working on improving and becoming more experienced. 
    If you have any questions about anything you find on this site, please contact me directly at <a href="mailto:jswan@swantechsolutions.com">jswan@swantechsolutions.com</a>. </p>
</div>

<div>

</div>