@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron text-center">
    <h1 class="display-4">Jordan Swan's ePortfolio</h1>
    <p>Welcome to my ePortfolio! This ePortfolio will always be a work-in-progress since I am always working on improving and becoming more experienced. 
    If you have any questions about anything you find on this site, please contact me directly at <a href="mailto:jswan@swantechsolutions.com">jswan@swantechsolutions.com</a>. </p>
</div>

<div class="container">
    <h3>About Me</h3>
        <div>
            <p>I am an experienced DevOps Engineer with a demonstrated history of building reliable automation. 
            Every since I have begun my journey through IT, I have always seen the value in being teachable and being willing to give all of your energy
            to learn and become a stronger IT professional. I honestly believe <span class="emphasis-text">if you want something bad enough, you can make it happen.</span> By clinging to that 
            belief, I have been able to advance from an IT-Support Representative on the phone to a Senior DevOps Engineer in just 4 years.<br /><br /></p>

            <h5>Strengths</h5>
            <p>I am very skilled in Automation, Architecture Review, CI/CD, Git, Hg, Configuration Management, Solarwinds, Azure DevOps, C#, and PowerShell. 
            Strong information technology professional pursuing continued growth and skill enhancement. </p>
        </div>
</div>