@{
    ViewData["Title"] = "Skills";
}

<div class="text-center">
    <h1 class="display-4">Skills</h1>
</div>
<div>
    <p>Here are my Skills, for more details, please select any item.</p>
</div>