@{
    ViewData["Title"] = "Achievements";
}

<div class="text-center">
    <h1 class="display-4">Achievements</h1>
</div>
<div>
    <p>Here are my achievements, for more details, please select any item.</p>
</div>