@{
    ViewData["Title"] = "Experience";
}

<div class="container">
    <div class="text-center">
        <h1 class="display-4">Experience</h1>
    </div>
    <div class="row">
        <p>Here is my work experience, for more details, please select any item.</p>
    </div>
    <div id="accordion">
        <div class="card">
            <div id="devops-academy-heading" class="card-header">
                <h5 class="card-title">
                    <a class="card-title" href="#" data-toggle="collapse" data-target="#devops-academy-card" aria-expanded="true" aria-controls="devops-academy-card">
                        DevOps Engineer
                    </a>
                </h5><span class="card-subtitle">  -  Academy Mortgage Corporation</span><span class="card-subtitle float-right">August 2018 - Present</span>
            </div>
            <div id="devops-academy-card" class="collapse show" aria-labelledby="devops-academy-heading" data-parent="#accordion">
                <div class="card-body">
                    <span class="fa-stack fa-2x icon">
                        <i class="fas fa-square  fa-stack-2x" style="color: teal;"></i>
                        <i class="fas fa-rocket  fa-stack-1x fa-inverse"></i>
                    </span>
                    <div class="content">
                        <p>
                            As a DevOps Engineer at Academy, I am repsonsible for building the CICD pipelines for all applications, create reliable and dependable
                            automation, manage Source Code Repository health, participate in application architecture discussions, and troubleshoot any application errors or issues.
                        </p>
                        <h6>Achievements</h6>
                        <ul>
                            <li>Implemented Azure DevOps (VSTS) for Code Repository Management and Build Deployment Pipelines for our Applications.</li>
                            <li>Built over 250 separate Pipelines in Azure DevOps which eliminated the need for manual deployments.</li>
                            <li>Migrated our code repository management from using Mercurial HG to using Git stored in Azure DevOps</li>
                            <li>Created configuration management & orchestration of systems by introducing SaltStack Open Source to our environment</li>
                            <li>
                                Completely rebuilt the team dynamic between Infrastructure, Development, and Database teams from blaming each other for issues that arise,
                                to collaborating daily which resulted in increased speed and less headache for development projects
                            </li>
                            <li>
                                Responsible for Evangelizing DevOps practices across the IT Teams at Academy, building automation, improving communication between IT Teams,
                                and supporting all custom built applications
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div id="noc-academy-heading" class="card-header">
                <h5 class="card-title">
                    <a class="card-title" href="#" data-toggle="collapse" data-target="#noc-academy-card" aria-expanded="true" aria-controls="noc-academy-card">NOC Engineer</a>
                </h5><span class="card-subtitle"> - Academy Mortgage Corporation</span><span class="card-subtitle float-right">September 2017 - July 2018</span>
            </div>
            <div id="noc-academy-card" class="collapse" aria-labelledby="noc-academy-heading" data-parent="#accordion">
                <div class="card-body">
                    <span class="fa-stack fa-2x icon">
                        <i class="fas fa-square  fa-stack-2x" style="color: teal;"></i>
                        <i class="fas fa-network-wired  fa-stack-1x fa-inverse"></i>
                    </span>
                    <div class="content">
                        <p>
                            As a NOC (Network Operations Center) Engineer at Academy, I was repsonsible for building all monitoring systems, for network devices, servers, applications, and logs.
                            I was also expected to setup and govern alerting based on montioring metrics. I was responsible for maintaining and improving the following systems: SolarWinds NPM
                            SAM SRM IPAM NCM and VMAN, Splunk Enterprise, and ExtraHop.
                        </p>
                        <h6>Achievements</h6>
                        <ul>
                            <li>Completely rebuilt SolarWinds, including configuration of monitoring, reporting, and alerting</li>
                            <li>Built numerous dashboards within SolarWinds, and Splunk, and created way for the two systems to share data to provide much more detailed insight</li>
                            <li>Played an integral part in the conception, design, development and implementation of several automation tasks</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div id="sysadmin-academy-heading" class="card-header">
                <h5 class="card-title">
                    <a class="card-title" href="#" data-toggle="collapse" data-target="#sysadmin-academy-card" aria-expanded="true" aria-controls="sysadmin-academy-card">ITS Systems Administrator</a>
                </h5><span class="card-subtitle"> - Academy Mortgage Corporation</span><span class="card-subtitle float-right">December 2016 - September 2017</span>
            </div>
            <div id="sysadmin-academy-card" class="collapse" aria-labelledby="sysadmin-academy-heading" data-parent="#accordion">
                <div class="card-body">
                    <span class="fa-stack fa-2x icon">
                        <i class="fas fa-square  fa-stack-2x" style="color: teal;"></i>
                        <i class="fas fa-lock  fa-stack-1x fa-inverse"></i>
                    </span>
                    <div class="content">
                        <p>
                            As a System Administrator at Academy, I was repsonsible for doing all of the company's Identity and Access Management daily tasks, building Role Based Access Control,
                            managing our MDM (Mobile Device Management) system, and building Active Directory automation.
                        </p>
                        <h6>Achievements</h6>
                        <ul>
                            <li>Automated a significant portion of our Active Directory onboarding and offboarding processes, as well as Security and Distribution Group creation processes</li>
                            <li>Created and Redefined several old processes concerning Identity & Access Management</li>
                            <li>Researched and recommended innovative, and where possible, automated approaches for system administration tasks</li>
                            <li>Created numerous automated reports regarding our Active Directory clutter and detailed potential ways to resolve the clutter</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div id="helpdesk-academy-heading" class="card-header">
                <h5 class="card-title">
                    <a class="card-title" href="#" data-toggle="collapse" data-target="#helpdesk-academy-card" aria-expanded="true" aria-controls="helpdesk-academy-card">Help Desk Technician</a>
                </h5><span class="card-subtitle"> - Academy Mortgage Corporation</span><span class="card-subtitle float-right">May 2016 - December 2016</span>
            </div>
            <div id="helpdesk-academy-card" class="collapse" aria-labelledby="helpdesk-academy-heading" data-parent="#accordion">
                <div class="card-body">
                    <span class="fa-stack fa-2x icon">
                        <i class="fas fa-square  fa-stack-2x" style="color: teal;"></i>
                        <i class="fas fa-headset  fa-stack-1x fa-inverse"></i>
                    </span>
                    <div class="content">
                        <p>
                            As a Help Desk Technician at Academy, I was repsonsible for taking support phone calls from Academy's employees, and assisting with any
                            technical issues that they were experiencing. This required strong troubleshooting methodology in order to quickly resolve issues.
                        </p>
                        <h6>Achievements</h6>
                        <ul>
                            <li>Ran a personally driven project to do a complete revamp of Academy's Knowledge Base System, updating content on hundreds of knowledge base articals</li>
                            <li>Consistently finished the most IT-Support tickets on my team</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div id="csr-lds-heading" class="card-header">
                <h5 class="card-title">
                    <a class="card-title" href="#" data-toggle="collapse" data-target="#csr-lds-card" aria-expanded="true" aria-controls="csr-lds-card">Customer Service Representative</a>
                </h5><span class="card-subtitle"> - The Church of Jesus Christ of Latter-Day Saints</span><span class="card-subtitle float-right">February 2016 - May 2016</span>
            </div>
            <div id="csr-lds-card" class="collapse" aria-labelledby="csr-lds-heading" data-parent="#accordion">
                <div class="card-body">
                    <span class="fa-stack fa-2x icon">
                        <i class="fas fa-square  fa-stack-2x" style="color: teal;"></i>
                        <i class="fas fa-terminal  fa-stack-1x fa-inverse"></i>
                    </span>
                    <div class="content">
                        <p>
                            As a Customer Service Representative at The Church of Jesus Christ of Latter-Day Saints, I was on their network connectivity support team, so I would take calls from
                            the different branches on their global network, and I would assist in fixing their Firewall, Router, or Switch configurations.
                        </p>
                        <h6>Achievements</h6>
                        <ul>
                            <li>Supported church facilities around the globe over the phone to resolve 97% of all received connectivity issues</li>
                            <li>Remotely connected to Cisco Firewalls and Access Points via SSH in order to correct configurations or re-provision equipment</li>
                            <li>Obtained an understanding of basic Cisco syntax and command usage</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
