@{
    ViewData["Title"] = "Experience";
}

<div class="text-center">
    <h1 class="display-4">Experience</h1>
</div>
<div>
    <p>Here is my work experience, for more details, please select any item.</p>
</div>